<html layout:decorate="~{base.html}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
    <head>
        <title>Jei Todo error</title>
    </head>
    <body>
        <th:block layout:fragment="content">
            <div class="row">
                <div class="col col-sm-12">
                    <h1>Error</h1>
                    <p th:text="${errorMessage}"></p>
                    <p th:if="${#maps.containsKey(errorAttributes, 'trace')}" th:text="${errorAttributes.trace}"></p>
                </div>
            </div>
        </th:block>
    </body>
</html>
