<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Login</title>
    </head>
    <body>
        <div class="container">
            <form th:action="@{/login}" method="POST">
                <h3 th:text="Welcome"></h3>
                <br />

                <input type="text" id="email" name="email" th:placeholder="Email" /><br />
                <input type="password" th:placeholder="Password" id="password" name="password" /><br />

                <div align="center" th:if="${param.error}">
                    <p style="font-size: 20px; color: #FF1C19;">Email or Password invalid, please verify</p>
                </div>

                <button name="Submit" value="Login" type="Submit" th:text="Login"></button>
            </form>
        </div>

    </body>
</html>

