<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>To do</title>
    </head>
    <body>
        <p th:text="'Todos for ' + ${user.email} + '!'" />

        <main id="todos">
            <article th:each="todo : ${todos}">
                <h2 class="title" th:text="${todo.title}">To do Title</h2>

                <div th:if="${todo.created}">
                    <div class="date">
                        <i>Created on</i>
                        <span th:text="${#dates.format(todo.created, 'dd.mm.yyyy HH:mm')}"></span>
                    </div>
                </div>

                <p class="content" th:utext="${todo.description}">To do description</p>
            </article>
        </main>
    </body>
</html>
