<html layout:decorate="~{base.html}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
    <head>
        <title>To dos</title>
        <link rel="stylesheet" href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <th:block layout:fragment="content">
            <!--<p th:text="'Todos for ' + ${user.email} + '!'" />-->
            <form action="" method="post">
                <div class="row mt-3">
                    <div class="col-1">

                    </div>
                    <div class="col">
                        <input type="text" name="title" class="form-control">
                    </div>
                    <div class="col-1">
                        <button type="submit" name="add" class="btn btn-success">
                            Add
                        </button>
                    </div>
                </div>
            </form>
            <br>
            <main id="todos">
                <article th:each="todo : ${incompleteTodos}">
                    <div th:replace="fragments/todo :: todo(${todo})" />
                </article>

                <th:block th:if="${!completeTodos.empty}">
                    <h3>Completed todos</h3>

                    <article th:each="todo : ${completeTodos}">
                        <div th:replace="fragments/todo :: todo(${todo})" />
                    </article>
                </th:block>
            </main>
        </th:block>
    </body>
</html>
